body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    color: #f0f0f9;
}

header {
    margin-top: 32px;
    text-align: center;
    padding-bottom: 4rem;
    color: #8f8e8d;
    animation: up 0.4s;
}

main {
    margin: 0 auto;
    width: 80vw;
    max-width: 960px;
    animation: up 0.4s 0.2s backwards;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 3.2rem 0 1.6rem;
    animation: up 0.4s 0.4s backwards;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}


/* Add Tags Name Input */

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.input-container {
    width: 50%;
    border: 1px solid rgb(169, 169, 169);
    border-radius: .2rem;
    display: flex;
    align-content: flex-start;
    padding: .4rem;
    margin-bottom: .4rem;
}

.button-container {
    width: 30%;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#btn-add-tag {
    color: white;
    background: rgb(46, 126, 30);
    height: 50px;
    border: 1px solid rgb(169, 169, 169);
    width: 50%;
}

.read-only-container {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.tag-container {
    width: 100%;
    border: 1px solid rgb(169, 169, 169);
    border-radius: .2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: .4rem;
    overflow-x: auto;
    min-height: 65px;
}

.input-container input,
.button-container input {
    width: 50%;
}

.tag-container,
.input-container input,
.tag-container .tag,
.read-only-container label {
    background: rgba(231, 230, 230, 0.2);
    color: #020202;
}

.tag-container .tag {
    margin: .4rem;
    padding: .4rem .6rem;
    border: .01rem solid #8f8e8d;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    cursor: default;
}

.tag i {
    font-size: 0.8rem;
    font-style: normal;
    margin-left: .4rem;
    transform: translateY(0.08rem);
}

.close::after {
    content: '❌';
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.input-container input {
    padding: .4rem;
    font-size: 1.2rem;
    border: 0;
    outline: none;
    flex: 1;
}

.disable {
    background: gray !important;
    pointer-events: none;
}